$navbar-height: 60px;
header {
    height: $navbar-height;
    a {
        line-height: $navbar-height;
        color: $gray-dark;
        &:hover {
            color: $blue;
        }
    }

    nav a {
        font-size: 13px;
        margin-right: 12px;
        &:last-child {
            margin-right: 0;
        }
    }

    nav.pull-right {
        float: right;
    }
}
