header {
    height: $navbar-height;
    margin-left: $sidebar-width;
    padding-left: 15px;
    padding-right: 15px;
    a {
        line-height: $navbar-height;
        color: $gray-dark;
        &:hover {
            color: $blue;
        }
    }

    nav a {
        font-size: 13px;
        margin-right: 12px;
        &:last-child {
            margin-right: 0;
        }
    }

    nav>.pull-right {
        float: right;
    }
}
