@import '~primer-css/index';
@import 'spinkit';
@import 'variables';
@import 'header';
@import 'dbs-list';
@import 'mixins';

.db-list .list-group-item a {
  animation-duration: 0.3s;
}

a,
a:hover {
  text-decoration: none;
}

@include scrollbars(.5em, $gray-dark);
