@import '~primer-css/index';
@import 'variables';
@import 'mixins';
@import 'spinkit';
@import 'header';
@import 'dbs-list';
@import 'collections-list';
@import 'plugins/pace';
@import 'plugins/hljs-gist-style';

a,
a:hover {
  text-decoration: none;
}

.main-content {
    margin-left: $sidebar-width + 15px;
    margin-right: 15px;
}

// @include scrollbars(.5em, #d3d3d3);
