.dbs-list {
  li {
    list-style: none;
  }
  .menu-heading .btn-sm {
    float: right;
    margin-top: -2px;
    margin-right: -3px;
    padding: 1px 6px;
  }
}

.dbs-list-item {
  .collection-list { display: none }
  &.open {
    .collection-list { display: block }
  }
}
